.navbar.bg-dark {
  background-color: var(--suffolk-blue) !important;
}

.al-title {
  color: var(--white);
  
  .title-row-1 {
    color: var(--suffolk-gold);
  }
}

/* Added from Bootstrap _utilities.scss */

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}